body {
  padding: 0;
  margin: 0;
  font-family: "Arial";
}

table {
  padding: 3px;
  border-spacing: 3px;
  font-size: 15px;
  background-color: lightpink;
}

.currencyBox {
  width: 100%;
  padding: 5px;
  border-spacing: 5px;
  border-width: 1px;
  border-color: purple;
  background-color: #f8f8f8;
  color: purple;
  font-size: 15px;
}

.selectedCurrencyBox {
    width: 100%;
    padding: 5px;
    border-width: 1px;
    border-color: green;
    background-color: green;
    color: white;
    font-size: 15px;
}

.currencySymbol {
    font-size: 15px;
    font-weight: bold;
}

.currencyName {
  font-size: 12px;
  font-weight: normal;
}
