body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

#currency-list{
    padding: 10px;
}


#cf-search {
    width: 100%;
    margin: 10px;
}
#cf-list{
    label{
        display: inline-block;
        padding: 5px 10px;
        margin: 3px;
        border: 1px solid #eee;
        width: 185px;
        box-sizing: border-box;
        background: #f8f8f8;
        cursor: pointer;

        &:hover{
            background-color: #eee;
        }

        &.selected{
            background: #689F38;
            color: #fff;
            border-color: #558B2F;

            &:hover{
                background: #73af3f;
            }
        }

        input{
            display: none;
        }

        .code{
            font-weight: 500;
        }

        .name{
            font-size: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
